{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body style="background-image: url({% static 'data_bg.jpg' %});
        background-size:100% 100%;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">VFB Analysis Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="game">Display</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="delete">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dashboard1">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<br>

<a class="btn btn-secondary" href="delete" role="button">Delete a game</a>
<a class="btn btn-info" href="update_game" role="button">Update Game</a>
<a class="btn btn-success " href="insert_game" role="button">Insert a new game</a>
<a class="btn btn-success" href="insert_game" role="button">Insert a new drive</a>


<br>
<br>
<br>

<form>
  <center>
  <div class="form-group row">

    <label for="colFormLabelSm" class="col-sm-2 col-form-label">Game_id: </label>
    <div class="col-3">

      <input type="number" class="form-control" id="colFormLabelSm" placeholder="Game_id" required="required" name = "insert_game_id">

  </div>
  </div>
  <div class="form-group row">

    <label for="colFormLabel" class="col-sm-2">Home: </label>
    <div class="col-3">
      <input type="text" class="form-control" id="colFormLabel" placeholder="Home" required="required" name = "insert_home">
  </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2">Away: </label>
    <div class="col-3">
      <input type="text" class="form-control" id="colFormLabelLg" placeholder="Away" required="required" name = "insert_away">
    </div>
    </div>
   <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2">Week: </label>
    <div class="col-3">
      <input type="number" class="form-control" id="colFormLabelLg" placeholder="Week"  name = "insert_week">
    </div>
    </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2">Season: </label>
    <div class="col-3">
      <input type="year" class="form-control" id="colFormLabelLg" placeholder="Season" required="required" name = "insert_season">
    </div>
    </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2">Year: </label>
    <div class="col-3">
      <input type="year" class="form-control" id="colFormLabelLg" placeholder="Year" required="required" name = "insert_year">
    </div>
    </div>
  <center>

  <input class="btn btn-primary" type="submit" value="Submit">
</form>
<br>
<br>
<br>
{% if result %}
<div class="alert alert-primary text-center" role="alert">
  {{result}}
  {% endif %}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>