{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url({% static 'data_bg.jpg' %});
        background-size:100% 100%;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">VFB Analysis Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Display</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="delete">Management</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="dashboard1">Dashboard</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="drive_dairy">Action Log</a>
      </li>
    </ul>
  </div>
</nav>



<div class="list-group list-group-horizontal">
  <a href="game" class="list-group-item list-group-item-action" aria-current="true">
    Play
  </a>
  <a href="play_type" class="list-group-item list-group-item-action">Play Type</a>
  <a href="game_score" class="list-group-item list-group-item-action">Game Score</a>
  <a href="team_score" class="list-group-item list-group-item-action">Team Results</a>
</div>
<br>
<br>
<center>
 <form action = "play_type">
      <label for = "">
          Play_Type: <input type = "text" name = "search_playtype">
      </label>
   <label for = "">
          Scoring: <input type = "text" name = "search_score">
      </label>
      <label for = "">
           <input type = "submit" value = "Search">
      </label>
  </form>
  </center>
<br><br>


<div class="container">
  <h2 class="text-center">Play Type</h2><br>
  <table class="table table-light table-striped">
    <thead>
      <tr>

        <th>Play_Type</th>
          <th>Scoring</th>


      </tr>
    </thead>
    <tbody>
    {% if db %}
    {% for i in db %}
      <tr>
        <td>{{i.play_type}}</td>
          <td>{{i.scoring}}</td>


      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>

</body>
</html>