{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url({% static 'data_bg.jpg' %});
        background-size:100% 100%;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">VFB Analysis Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Display</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="delete">Management</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="dashboard1">Dashboard</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="game_dairy">Action Log</a>
      </li>
    </ul>
  </div>
</nav>
<br>



<a class="btn btn-info" href="drive_dairy" role="button">Drive Operation Log</a>
<a class="btn btn-info" href="game_dairy" role="button">Game Operation Log</a>
<br>
<div class="container">
  <h2 class="text-center">Game Operation Log</h2><br>
  <table class="table table-light table-striped">
    <thead>
      <tr>

        <th>Action ID</th>
          <th>Game ID</th>
           <th>Home</th>
        <th>Away</th>
        <th>Week</th>
        <th>Season</th>
        <th>Year</th>
        <th>Action Time</th>
        <th>Action</th>


      </tr>
    </thead>
    <tbody>
    {% if db %}
    {% for i in db %}
      <tr>
        <td>{{i.action_id}}</td>
          <td>{{i.game_id}}</td>
          <td>{{i.home}}</td>
        <td>{{i.away}}</td>
          <td>{{i.week}}</td>
        <td>{{i.season}}</td>
        <td>{{i.year}}</td>
          <td>{{i.action_time}}</td>
        <td>{{i.action}}</td>

      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>


</body>
</html>